.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2em 1em -18em;
    padding: 1em;
    border: 1px dotted goldenrod;
}

.orders {
    font-size: 26px;
    margin-left: 100px;
}

